html,
body,
header,
#intro{
    height: 100%;
}

#intro{
    background: url("assets/background.svg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.registerButton{
    background: linear-gradient(#079307 0%, #00e200 100%);
    border-radius: 5px;
    height: 45px;
    width: 250px;
}

.title{
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.navbar{
    background: transparent!important;
    backdrop-filter: blur(29px)!important;
    --webkit-backdrop-filter: blur(29px)!important;
    background-color: rgba(0, 0, 0, 0.28)!important;
    color: white!important;
    text-align: center!important;
}