.completed{
    width: 100%;
}

.landing-image {
    width: 100%;
    position: absolute;
}

.landingBack{
    background-image: url("assets/backgroundlanding.svg");
}

.interline{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#079307 0%, #00e200 100%);
    filter: drop-shadow(0px 3px 41px rgba(0, 0, 0, 0.61));
}

.backgroundSection1{
    background-image: url("assets/background.svg");
    width: 100%;
    background-size: cover;
    position: absolute;
    height: 100vh;
    opacity: 0.8;
}

.registerButton{
    background: linear-gradient(#079307 0%, #00e200 100%);
    border-radius: 5px;
    height: 45px;
    position: relative;
    top: 9px;
    width: 250px;
}

.navbar{
    background: transparent;
    backdrop-filter: blur(29px);
    --webkit-backdrop-filter: blur(29px);
    background-color: rgba(0, 0, 0, 0.28);
    color: white;
    z-index: 2;
    text-align: center;
}

.menu{
    line-height: 4;
}

.uppercase{
    text-transform: uppercase;
}

.pointer{
    cursor: pointer;
}

.padding{
    padding: 0!important;
}

.imageInicio{
    margin-top: 5%;
    margin-left: 5%;
}

.wave{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 50px;
}

.title{
    color: white;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    bottom: 195px;
    left: 110px;
}

.btn--register {
    background: linear-gradient(#079307 0%, #00e200 100%);
    border-color: #079307;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    top: 9px;
    color: #FFF;
    padding: 10px 40px;
    font-weight: 400;
}


.title2{
    color: #FFF;
    font-size: 16px;
    text-align: justify;
    line-height: 5px;
}

.title3{
    color: #FFF;
    font-size: 20px;
    text-align: center;
    line-height: 5px;
    font-weight: 400;
    letter-spacing: 3px;
}

.subtitle {
    margin-bottom: 48px;
    color: lightgray;
    font-size: 18px;
    position: relative;
}

.nameEquip{
    color: white;
    font-weight: 600;
}

.number{
    color: white;
    font-weight: 600;
    font-size: 34px;
}


.art{
    background: url("assets/landingPage.svg");
    /*position: relative;*/
    height: 100vh;
    right: 24px;
    /*transform: rotate(3deg);*/
    width: 100%;
    top: 40px;
}
/*  */

.markers {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    width: 100%; 
    background-color: #2A2828; 
    height: 80px;
    position: fixed;
    bottom: 0;
    z-index: 1000000;
}

.marker {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px 15px;
}

.match-active {
    width: 5px; 
    height: 5px; 
    border-radius: 50%; 
    background: #FF0000;
}

.icon-sport img {
    padding: 12px 0px;
    margin: 0px 5px;
    width: 17px;
}

.sports {
    width: 27%;
    display: flex; 
    flex-direction: row;
    color: #FFF;
    font-size: 13px;
    margin-top: 5px;
}

.result {
    width: 25%;
    margin: 0px 1px;
}

.green-marker {
    color: #00FF00;
}

.matches {
    display: flex; 
    flex-direction: row;
}

.bench-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 32%;
}

.bench-logo {
    width: 90px;
    margin-top: 90px;
}

.infoCont{
    margin-top: 350px;
}


.parrafe{
    font-size: 24px;
    position: relative;
}

.greePro{
    color: #02D902;
}

.pronostic{
    height: 500px;
    background-color: #1B1B1B;
    border-radius: 14px;
    margin-bottom: 50px;
    position: relative;
}

.pronostic-image {
    width: 220px;
    height: 180px;
    margin-top: 64px;
    padding-right: 24px;
}

.selected{
    position: relative;
    background: #1B1B1B;
    height: 50px;
    right: 45px;
    bottom: 15px;
    border-top-left-radius: 14px;
}

.secondItem{
    position: relative;
    height: 50px;
    right: 44px;
    bottom: 15px;
    cursor: pointer;
}

.headerPro{
    background: #2E2E2E;
    height: 50px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.circle{
    height: 100px;
    width: 100px;
    background: #202020;
    border-radius: 50%;
    position: relative;
}

.inLive{
    background: #FF3C41;
    width: 70px;
    color: white;
    border-radius: 4px;
    position: absolute;
    right: -36px;
    margin: auto;
    top: 0px;
    bottom: 0;
    height: 25px;
}

.VS{
    width: 70px;
    color: white;
    border-radius: 4px;
    position: absolute;
    right: -36px;
    margin: auto;
    top: -100px;
    bottom: 0;
    height: 25px;
    font-size: 24px;
}

.topping{
    margin-top: 20px;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: auto;
}

.main {
    width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
	padding: 52px 0;
}

.card {
    width: 80%!important;
    height: 260px;
    background-color: #FFF; 
}

.card--title {
    font-size: 24px;
    margin-top: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}

.stats {
    margin-bottom: 0rem;
    width: 40%;
    margin: 1px auto;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.player-match {
    position: absolute; 
    width: 219px; 
    right: -105px;
}

.team-img {
    width: 12px;
}

.calendar {  
    width: 80%;
    margin: 48px auto;
}

.calendar-today {
    border: 2px solid;
    padding: 5px 40px;
    border-radius: 5px;
    border-color: #FFF;
    background-color: #FFF;
    cursor: pointer;
}

.calendar-games {
    border-radius: 5px; 
    color: #FFF; 
    background-color: #079307; 
   font-weight: 700;
}

.plan--cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.plan--card {
    width: 20%;
    height: 315px;
    background-color: #FFF;
    border-radius: 5px;
}

.card--title-bronze {
    font-size: 16px;
    margin-top: 36px;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: #cd7f32;
    color: #FFF;
    height: 60px;
    padding-left: 95px;
    font-weight: 400;
}

.card--title-silver {
    font-size: 16px;
    margin-top: 36px;
    letter-spacing: 1px;
    font-weight: 500;
    background-color:#C0C0C0;
    color: #FFF;
    height: 60px;
    padding-left: 95px;
    font-weight: 400;
}

.card--title-gold {
    font-size: 16px;
    margin-top: 36px;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: #FFD700;
    color: #FFF;
    height: 60px;
    padding-left: 95px;
    font-weight: 400;
}

.plans {
    margin: 3px;
    color: gray;
    list-style: none;
}

.plans {
    text-align: center; 
    width: 90%; 
    margin: auto;
    font-size: 13px; 
    margin-top: 18px; 
    padding: 0px 20px;
}

ul .plan::before {
    content: "\2022";
    color: #00FF00;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.plans-price {
    margin-top: 15px;
    font-size: 28px;
    color: gray;
}


.grey {
    background: #2E2E2E;
    transform: rotate(1.8deg);
    height: 100vh;
    min-height: 60rem;
    height: 100vh;
    position: relative;
    box-shadow: 0.5rem 1rem 8rem 0 rgba(0, 0, 0, 0.568);
}
.contenido-seccion4 {
    margin-top: 8rem;
    padding: 2rem;
    transform: rotate(-1.8deg);
}
.marcelo {
    background-color: white;
    border-radius: 1rem;
    padding: 3rem;
    font-size: 1.5rem;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.541);
    transition: 0.3s;
    text-align: left;
    position: relative;
}
.marcelo blockquote {
    position: relative;
    padding-right: 5rem;
    font-weight: 300;
}
.tres-columnas {
    display: flex;
    justify-content: space-between;
}
.centrar {
    text-align: center;
    font-size: 2rem;
}
.justify {
    display: flex;
    margin-bottom: 2rem;
}
.marcelo-tit {
    margin-left: 2rem;
    margin-bottom: 0.1rem;
    font-size: 2.5rem;
    font-weight: 350;
}
.rm-tit {
    margin-left: 1.8rem;
    margin-top: none;
}
.no-rotate {
    transform: rotate(-1.8deg);
}


.playerStatic{
    position: absolute;
    width: 250px;
    right: 0;
    left: 140px;
    bottom: 0px;
}


.imageStatic{
    width: 30px;
    position: absolute;
    left: 40px;
    top: 15px;
}


.playerTeam{
    position: relative;
    left: 0px;
    top: 30px;
    color: #ccc;
}

.playerName{
    position: relative;
    left: 75px;
    font-size: 20px;
    top: 10px;
}    

.starStatic{
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 80px;
}

@media screen and (max-width: 1230px) {
    .padding .registerButton {
        width: 150px;
    }

    .banquillo {
        margin-left: 150px !important;
    }

    .menu {
        font-size: 14px
    }

    .pronostic {
        height: 450px;
    }

    .calendar {
        margin: 16px auto;
    }
    
}